body {
  background-color: beige;
}

p {
  font-size: 24px;
}

img {
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 10px;
}

.selected {
  background-color: white;
  border: 2px solid black;
}
